* {
    font-family: 'Be Vietnam Pro', sans-serif;
    color: #555B6E;
}

.task-container {
    margin: 20px;
    border: 2px solid lightblue;
    padding: 2px;
    min-height: 200px;
}

img {
    width: 50px;
}

.inner-container {
    margin: 2px;
    border: 2px solid lightgrey;
}

input, label {
    margin: 5px;
    
}

button:disabled {
  background-color: #ccc;       /* grey background */
  color: #666;                  /* dimmed text */
  border: 1px solid #999;
  cursor: not-allowed;
  text-decoration: line-through; /* optional: cross out text */
}

