* {
    font-family: 'Be Vietnam Pro', sans-serif;
    color: #555B6E;
}

.task-container {
    margin: 20px;
    border: 2px solid lightblue;
    padding: 2px;
    height: 200px;
}

img {
    width: 50px;
}

.inner-container {
    margin: 2px;
    border: 2px solid lightgrey;
}

input, label {
    margin: 5px;
}